<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">

            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory>./tests/JsonServer/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/JsonServer/integration</directory>
        </testsuite>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>